In [1]:
import pandas as pd
import warnings
warnings.simplefilter('ignore')

C:\Users\sanga\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
## Load the data

In [3]:
df=pd.read_csv('analysis_id(in).csv')

In [4]:
pd.set_option('display.max_columns',None)

In [5]:
df.head()

,Unnamed: 0,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,bid_range,media_type,request_count,response_count,prebid_win_count,win_count,sum_bid,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,0.5-0.6,display,4,4,1.0,NaN,2.34080,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,0.3-0.4,display,3,3,NaN,NaN,1.03230,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,0.9-1,display,1,1,NaN,NaN,0.96000,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,,display,43,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,0.3-0.4,display,2,2,NaN,NaN,0.69285,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(5000, 27)

In [9]:
## check duplicates

In [8]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, date_hour, client, device_type, time_zone, os_name, browser_name, ad_unit, size, bidder, bid_range, media_type, request_count, response_count, prebid_win_count, win_count, sum_bid, sum_time_to_respond, median, min_bid, max_bid, avg_bid, sum_2nd_highest_bid, sum_prebid_winning_bid, sum_winning_bid, sum_nobid, sum_timeout]
Index: []

In [ ]:
## Dropping Unnamed as it seems irrelevant

In [10]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [11]:
df.head()

,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,bid_range,media_type,request_count,response_count,prebid_win_count,win_count,sum_bid,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,0.5-0.6,display,4,4,1.0,NaN,2.34080,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,0.3-0.4,display,3,3,NaN,NaN,1.03230,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,0.9-1,display,1,1,NaN,NaN,0.96000,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,,display,43,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,0.3-0.4,display,2,2,NaN,NaN,0.69285,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN

In [12]:
df['bidder'].nunique()

18

### Calculate bidder for highest prebid win ratio

In [17]:
## We wil create a new DataFrame for our winning ratio to get the highest winning ratio
## As per my understanding to get the  bidder for highest prebid win ratio we can consider reponse count 
## and prebid win count columns

In [18]:
df_new=df[['bidder','response_count','prebid_win_count']]

In [19]:
df_new.head()

      bidder  response_count  prebid_win_count
0  onemobile               4               1.0
1  rhythmone               3               NaN
2  undertone               1               NaN
3                          0               NaN
4  rhythmone               2               NaN

In [20]:
df_new.isnull().sum()

bidder                 0
response_count         0
prebid_win_count    3833
dtype: int64

In [21]:
## Drop Nan Values

In [22]:
df_new.dropna(inplace=True)

### Group by Bidder and take sum of prebid_win_count and sum of response_count

In [23]:
df_new.head()

          bidder  response_count  prebid_win_count
0      onemobile               4               1.0
9      onemobile               1               1.0
15  sharethrough               1               1.0
18  sharethrough               1               1.0
21      medianet               2               2.0

In [24]:
new_prebid=df_new.groupby('bidder',as_index=False).agg(total_response=('response_count','sum'),total_prebid_win=('prebid_win_count','sum'))

In [25]:
new_prebid

          bidder  total_response  total_prebid_win
0       33across             511             136.0
1       appnexus             541             175.0
2         criteo            2427             587.0
3    emx_digital             219              56.0
4             ix            1970             184.0
5       medianet            1449             253.0
6      onemobile            2261             759.0
7          openx             795              86.0
8       pubmatic            1324             255.0
9     pulsepoint              89              71.0
10     rhythmone             386             160.0
11       rubicon             118              33.0
12  sharethrough             205             104.0
13         sovrn              47              14.0
14         teads             612             323.0
15    triplelift             568             108.0
16     undertone              79              52.0

In [26]:
new_prebid['Winning_percentage']=new_prebid['total_prebid_win']/new_prebid['total_response']

In [27]:
new_prebid['Winning_percentage']=new_prebid['Winning_percentage']*100

In [29]:
winner_pre_bid=new_prebid.sort_values('Winning_percentage',ascending=False)

In [50]:
winner_pre_bid

          bidder  total_response  total_prebid_win  Winning_percentage
9     pulsepoint              89              71.0           79.775281
16     undertone              79              52.0           65.822785
14         teads             612             323.0           52.777778
12  sharethrough             205             104.0           50.731707
10     rhythmone             386             160.0           41.450777
6      onemobile            2261             759.0           33.569217
1       appnexus             541             175.0           32.347505
13         sovrn              47              14.0           29.787234
11       rubicon             118              33.0           27.966102
0       33across             511             136.0           26.614481
3    emx_digital             219              56.0           25.570776
2         criteo            2427             587.0           24.186238
8       pubmatic            1324             255.0           19.259819
15    triplelift             568             108.0           19.014085
5       medianet            1449             253.0           17.460317
7          openx             795              86.0           10.817610
4             ix            1970             184.0            9.340102

In [30]:
winner_pre_bid.head(1)

       bidder  total_response  total_prebid_win  Winning_percentage
9  pulsepoint              89              71.0           79.775281

## Highest winner comes out to be pulsepoint with 79.77% winning ratio

In [ ]:
## Lets check for highest average bidder

In [32]:
df_sum_bid=df[['bidder','response_count','sum_bid']]

In [34]:
df_sum_bid.isnull().sum()

bidder               0
response_count       0
sum_bid           1210
dtype: int64

In [36]:
df_sum_bid.dropna(inplace=True)

In [45]:
groupd_sum_df=df_sum_bid.groupby('bidder',as_index=False).agg(Total_response_cnt=('response_count','sum'),Total_sum_bid=('sum_bid','sum'))

In [47]:
groupd_sum_df['Ratio']=groupd_sum_df['Total_sum_bid']/groupd_sum_df['Total_response_cnt']

In [49]:
groupd_sum_df.sort_values('Ratio',ascending=False)

          bidder  Total_response_cnt  Total_sum_bid     Ratio
9     pulsepoint                 191     269.833200  1.412739
16     undertone                 104     126.105600  1.212554
12  sharethrough                 332     212.444285  0.639892
3    emx_digital                 393     248.087204  0.631265
10     rhythmone                 655     399.683589  0.610204
0       33across                 886     494.777600  0.558440
1       appnexus                 830     358.708185  0.432179
11       rubicon                 582     235.265824  0.404237
6      onemobile                2726    1010.443206  0.370669
15    triplelift                1479     475.448490  0.321466
5       medianet                2556     717.259460  0.280618
13         sovrn                 358      98.952540  0.276404
14         teads                 700     148.506400  0.212152
8       pubmatic                2335     475.423800  0.203608
7          openx                1165     209.057310  0.179448
2         criteo                3181     524.923888  0.165019
4             ix                3051     392.340500  0.128594

In [ ]:
## Highest avg bidder also comes out to be pulsepoint with 1.41 avg value/ratio

In [51]:
df.isnull().sum()

date_hour                    0
client                       0
device_type                  0
time_zone                    0
os_name                      0
browser_name                 0
ad_unit                      0
size                         0
bidder                       0
bid_range                    0
media_type                   0
request_count                0
response_count               0
prebid_win_count          3833
win_count                 4814
sum_bid                   1210
sum_time_to_respond       1210
median                    3240
min_bid                   1210
max_bid                   1210
avg_bid                   1210
sum_2nd_highest_bid       4266
sum_prebid_winning_bid    3833
sum_winning_bid           4814
sum_nobid                 5000
sum_timeout               5000
dtype: int64

In [52]:
df.columns

Index(['date_hour', 'client', 'device_type', 'time_zone', 'os_name',
       'browser_name', 'ad_unit', 'size', 'bidder', 'bid_range', 'media_type',
       'request_count', 'response_count', 'prebid_win_count', 'win_count',
       'sum_bid', 'sum_time_to_respond', 'median', 'min_bid', 'max_bid',
       'avg_bid', 'sum_2nd_highest_bid', 'sum_prebid_winning_bid',
       'sum_winning_bid', 'sum_nobid', 'sum_timeout'],
      dtype='object')

In [55]:
col_remove=[ 'date_hour', 'client', 'device_type', 'time_zone',
       'os_name', 'browser_name', 'ad_unit', 'size','sum_nobid', 'sum_timeout']

In [56]:
df.drop(col_remove,axis=1,inplace=True)

In [57]:
df.head()

,bidder,bid_range,media_type,request_count,response_count,prebid_win_count,win_count,sum_bid,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid
0,onemobile,0.5-0.6,display,4,4,1.0,NaN,2.34080,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN
1,rhythmone,0.3-0.4,display,3,3,NaN,NaN,1.03230,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN
2,undertone,0.9-1,display,1,1,NaN,NaN,0.96000,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN
3,,,display,43,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rhythmone,0.3-0.4,display,2,2,NaN,NaN,0.69285,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN

In [58]:
df.shape

(5000, 16)

In [ ]:
## Groupby for total sum and prebid win

In [91]:
New_df=df.groupby('bidder',as_index=False).agg(sum_of_bids=('sum_bid','sum'),total_win=('prebid_win_count','sum'))

In [92]:
New_df

          bidder  sum_of_bids  total_win
0                    0.000000        0.0
1       33across   494.777600      136.0
2       appnexus   358.708185      175.0
3         criteo   524.923888      587.0
4    emx_digital   248.087204       56.0
5             ix   392.340500      184.0
6       medianet   717.259460      253.0
7      onemobile  1010.443206      759.0
8          openx   209.057310       86.0
9       pubmatic   475.423800      255.0
10    pulsepoint   269.833200       71.0
11     rhythmone   399.683589      160.0
12       rubicon   235.265824       33.0
13  sharethrough   212.444285      104.0
14         sovrn    98.952540       14.0
15         teads   148.506400      323.0
16    triplelift   475.448490      108.0
17     undertone   126.105600       52.0

In [93]:
New_df['winning']=New_df['total_win']/New_df['sum_of_bids']*100

In [96]:
New_df.sort_values("winning",ascending=False).head(1)

   bidder  sum_of_bids  total_win     winning
15  teads     148.5064      323.0  217.499044

## Winner
- pulsepoint comes out to be winner with highest pre_bid_win/total_bid ratio with 79.77%
- pulspoint comes out be the winner in having highest average bid with 1.41